* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #48f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#card {
  margin-top: 50px;
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 20px;
}

#hp {
  display: flex;
  margin-bottom: 30px;
  background-color: rgb(59, 132, 132);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  /* z-index: 2; */
}

#hp p {
  margin: 2px;
}

#pokemon-img {
  height: 200px;
  /* z-index: 2; */
}

#generate-button {
  margin: 20px 0px;
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#abilities {
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: white;
}
#abilities div {
  background-color: wheat;
  padding: 10px 20px;
  border-radius: 10px;
}
#abilities div:hover {
  box-shadow: 2px 2px 10px gray;
}
#abilities div p:nth-child(1) {
  font-weight: 600;
  margin-bottom: 10px;
}

#pokemon-name {
  margin-top: 20px;
}

#type {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
